.button{
  width: 100px;
  height: 92px;
  padding-left: 60px;

}
.butdiv{
  margin-top: 60px;
  margin-block-start: 60px;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-contained  {
  height: 45px;
  width: 136px;
 
}
h3{
  margin-top: 70px;
}
h4{
  color: gray;
  font-weight: 100;
  margin-inline: 40px;
  
}


/* .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root{
  height: 50px;
  width: 500px; */
/* } */